.markdown {
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.625;
  margin-left: 10%;
  margin-right: 10%;
}

.markdown p,
.markdown blockquote {
  margin: 1.5rem 0 1.5rem 0;
}

.markdown ul,
.markdown ol {
  margin: 1.5rem 10% 1.5rem 10%
}

.markdown p {
  text-align: justify;
}

.markdown h2 {
  font-size: 1.875rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.markdown h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}
